.container {
    background-color: lightblue;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.item {
    background-color: steelblue;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}