*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    background-color: red;
    display: flex;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
    }
}

.container .box {
    background-color: green;
    width: 150px;
    height: 150px;
}