
table {
    width: 50%;
    border-collapse: collapse;
}

thead {
    background-image: linear-gradient(rgb(109, 117, 218), blue);
}

tr {
    height: 40px;
}

td {
    padding: 0px 20px;
}

tbody tr:nth-child(even) {
    background-color: #c0c0c0;
}